#accessoriesDiv #nsm_addon_updater{padding-left:0; padding-right:0; border:none;}
#accessoriesDiv #nsm_addon_updater h5{display:none;}
#accessoriesDiv #nsm_addon_updater .accessorySection{border:none; float:none;}

#nsm_addon_updater.accessory table td.active{border-bottom:none;}
#nsm_addon_updater.accessory h3{border-top:0; padding:0!important; margin:0;}
#nsm_addon_updater.accessory ul{margin-right:18px;}
#nsm_addon_updater.accessory li{padding:0;}
#nsm_addon_updater.accessory ul,
#nsm_addon_updater.accessory h3,
#nsm_addon_updater.accessory p{margin-top:9px!important; margin-bottom:9px!important;}
#nsm_addon_updater.accessory a:hover{color:#D91350;}